* {
    font-family: "ShureTechMono Nerd Font";
    font-size: 10pt;
    font-weight: bold;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

@keyframes blink_red {
    to {
        background-color: #0f0f10;
        color: rgb(26, 24, 38);
    }
}

.warning, .critical, .urgent {
    animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#waybar {
    background-color: transparent;
}

#waybar > box {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: rgba(15, 15, 16, 1);
}


#workspaces {
    padding-left: 0px;
    padding-right: 4px;
}

#workspaces button {
    padding-left: 6px;
    padding-right: 6px;
    color: #5D8879;
}

#workspaces button.active {
    background-color: #A39C90;
    color: #0f0f10;
}

#workspaces button.urgent {
    color: rgb(26, 24, 38);
}

#workspaces button:hover {
    background-color: #0f0f10;
    color: #A85A5E;
}

tooltip {
    background: #3b4253;
}

tooltip label {
    color: #E4E8EF;
}

#custom-launcher {
    padding-left: 8px;
    padding-right: 6px;
    color: #ebbcba;
}

#mode, #clock, #memory, #temperature, #cpu, #custom-wall, #temperature, #backlight, #wireplumber, #network, #battery, #custom-powermenu, #custom-cava-internal {
    padding-left: 10px;
    padding-right: 10px;
}

#memory {
    color: #7C8CA8;
}

#cpu {
    color: #6F798C;
}

#clock {
    color: #A85A5E;
}

#custom-wall {
    color: #A39C90;
}

#temperature {
    color: #80A0C0;
}

#backlight {
    color: #7C8CA8;
}

#wireplumber {
    color: #9B9B9C;
}

#network {
    color: #6F798C;
}

#network.disconnected {
    color: #CCCCCC;
}

#battery.charging, #battery.full, #battery.discharging {
    color: #506282;
}

#battery.critical:not(.charging) {
    color: #D6DCE7;
}

#custom-powermenu {
    color: #A39C90;
    padding-right: 20px;
}

#tray {
    padding-right: 8px;
    padding-left: 10px;
}

#tray menu {
    background: #191724;
    color: #DEE2EA;
}

#custom-cava-internal {
    font-family: "Hack Nerd Font";
}

#window {
    color: #A39C90;
}

